.nav-container{
    padding: 10px;
    display: flex;
}

.navbuttons {
    order: 2;
    border: 3px black solid;
    width: 34%;
    height: 5.8vh;
    background-color: #522ee1;
    display: flex;
    flex-direction: row;
    margin-block: 25px;
    margin-left: 14.8vw;
}

.btn-btn-primary {
    border: 2px black solid;
    font-size: 12px;
    color: white;
    text-align: center;
    align-items: center;
    background-color: black;
    width: 60%;
    height: 3.5vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-block: 5px;
    margin-left: 3.0vw;
}

.flex-container{
    flex: 2;
    order: 1;
    margin-left: 5px;
}

/* .greetings {
    font-size: 20px;
    flex: 1;
    order: 2;
    margin-top: 10px;
    margin-right: 100px;
} */

.search-container{
    flex: 1;
    order: 3;
    margin-top: 30px;
    margin-right: 20px;
}

.drop-container{
    order:3;
    flex:1;
    text-align: right;
    margin-top: 15px;
    margin-right: 50px;
}

.dropdown-container{
    display: inline;
}
h4 {
    margin-top: 35px;
    margin-left: 100px;
}